	@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

nav ul {
	list-style: none;
}

nav a {
	margin-right: 15px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

details.notifications {
  list-style: none;
}

details.notifications::before {
  margin-right: 2px;
  content: "\1f514";
}
